@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}



:root {
    --Blue: hsl(246, 80%, 60%);

    --Light_red_work: hsl(15, 100%, 70%);
    --Soft_blue_play: hsl(195, 74%, 62%);
    --Light_red_study: hsl(348, 100%, 68%);
    --Lime_green_exercise: hsl(145, 58%, 55%);
    --Violet_social: hsl(264, 64%, 52%);
    --Soft_orange_self_care: hsl(43, 84%, 65%);
    --Very_dark_blue: hsl(226, 43%, 10%);
    --Dark_blue: hsl(235, 46%, 20%);
    --Desaturated_blue: hsl(235, 45%, 61%);
    --Pale_Blue: hsl(236, 100%, 87%);

}

img {
    width: 100%;
    display: block;
}

body {
    background-color: var(--Very_dark_blue);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content_cards {
    max-width: 1024px;
    display: grid;
    padding: 1rem;
    gap: 1rem;
    width: 100%;
}

.card_avatar {
    background-color: var(--Dark_blue);
    border-radius: 1rem;
}

.head_avatar {

    display: flex;
    align-items: center;
    padding: 2rem;
    color: var(--Pale_Blue);
    background-color: var(--Blue);
    gap: 1rem;
    border-radius: 1rem;
}

.body_avatar {
    background-color: var(--Dark_blue);
    color: var(--Pale_Blue);
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
    padding: 1rem;

}



.img {
    width: 50px;
    border-radius: 50%;
    border: 3px solid var(--Pale_Blue);
}



.card {
    display: grid;
    /* grid-template-columns:1fr; */
    grid-template-rows: repeat(3, 1fr);
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}

.icon_cards {

    align-self: flex-end;
    padding-right: 1rem;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    text-align: end;
    position: absolute;
    top: -10px;
    right: 0;
}


.text_card {
    grid-column: 1/2;
    grid-row: 2/4;
    position: relative;
    background-color: var(--Dark_blue);
    color: var(--Pale_Blue);
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;
    line-height: 30px;

}


.item_hours p:nth-child(2) {
    font-weight: 300;
    font-size: x-large;
}

.last_week p {
    text-align: end;
}

.last_week p:nth-child(2) {
    font-size: small;
}


.content_cards .card:nth-child(2) .icon_cards {
    background-color: var(--Light_red_work);

}



.content_cards .card:nth-child(3) .icon_cards {
    background-color: var(--Soft_blue_play);
}



.content_cards .card:nth-child(4) .icon_cards {
    background-color: var(--Light_red_study);
}



.content_cards .card:nth-child(5) .icon_cards {
    background-color: var(--Lime_green_exercise)
}



.content_cards .card:nth-child(6) .icon_cards {
    background-color: var(--Violet_social);
}



.content_cards .card:nth-child(7) .icon_cards {
    background-color: var(--Soft_orange_self_care);
}